.table {
    min-width: 100%;
    border: 0;
    white-space: nowrap;
    border-spacing: 0;
    table-layout: fixed;
    border-color: unset;
}

.td {
    padding: 10px 16px 10px 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    /* background: #1c1b1b; */
}
.th {
    padding: 10px 16px 10px 16px;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    background: rgb(30 131 233);
    color: #fff;
}
.tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.pagination_btn {
    border          : none;
    outline         : none;
    width           : 32px;
    height          : 32px;
    cursor          : pointer;
    background-color: #1e83e9;
    color           : #fff;
    display         : flex;
    justify-content : center;
    align-items     : center;
    margin          : 5px;
}

.pagination_btn:disabled {
    color              : grey;
    background-color   : #F4F5F8;
    /* border-color    : red; */
  }

.search_input {
    padding: 6px;
    border: 2px solid rgb(30 131 233)!important;
    outline: none;
}

.table__top_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}