.global_numbers_wr{
    display: flex;
    justify-content: center;
}
.global_numbers_item{
    display: flex;
    padding-right: 10px;
}
.global_numbers_item_name{
    color: #1e83e9;
    padding-right: 5px;
}
